on:
  push:
  pull_request:

name: Unit tests Charts

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.18.4

      - name: Build Helm dependencies
        run: |
          for chart in charts/*/; do
            if [ -f "$chart/Chart.yaml" ]; then
              helm dependency build "$chart"
            fi
          done

      - name: Run unit tests
        uses: d3adb5/helm-unittest-action@v2
        with:
          helm-version: v3.18.4
